<div class="container">
    <div class="grid-cols-12 gap-3">
        <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
                <img class="w-full h-full rounded-full" src="https://rukminim1.flixcart.com/image/612/612/xif0q/dress/a/c/m/l-3261-buynewtrend-original-imagnrpdhdeke5be.jpeg?q=70" alt="">
            </div>
        </div>
        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <p class="font-semibold text-lg">Xpertern</p>
                    <p class="opacity-70">Aug 28, 2025</p>
                    <p>Xpertern</p>
                </div>
                <div>
                    <app-star-rating></app-star-rating>
                </div>
                <p>
                    nice product, i like white shirt
                </p>
            </div>
        </div>
    </div>
</div>