<div>
    <div>
        <app-main-carousel></app-main-carousel>
    </div>

    <div>
        <app-product-slider title="Men's Jeans" [products]="menJeans"></app-product-slider>
        <app-product-slider title="Women's Gouns" [products]="gouns"></app-product-slider>
        <app-product-slider title="Lehanga Choli" [products]="lenhangCholi"></app-product-slider>
        <app-product-slider title="Men's Kurta" [products]="mensKurtas"></app-product-slider>
        <app-product-slider title="Shoes" [products]="Shoes"></app-product-slider>
    </div>
</div>
